# developer-specific environment variables
.env

# yarn dependencies
.yarn
node_modules

# auto-ajexport related
**/last_exported_hashes.json
datapacks/animated_java/data
datapacks/animated_java/data.ajmeta
resourcepack/assets.ajmeta
resourcepack/assets/animated_java
resourcepack/assets/minecraft/models/item/pink_dye.json

## temp files
# old world folders that have been backed up after running `yarn down`
tmp

## builds
build
