# developer-specific environment variables
.env

# yarn dependencies
.yarn
.pnp*

audio
versions

# auto-ajexport related
last_exported_hashes.json
datapacks/animated_java/data
datapacks/animated_java/datapack.ajmeta
resourcepack/assets/animated_java
resourcepack/assets/minecraft/models/item/animated_java_empty.json
resourcepack/assets/minecraft/models/item/white_dye.json
resourcepack/resourcepack.ajmeta
