/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

datapacks/omega-flowey/data/animated_java/** linguist-generated
datapacks/omega-flowey/datapack.ajmeta linguist-generated
resourcepack/assets/animated_java/** linguist-generated
resourcepack/assets/minecraft/models/item/animated_java_empty.json linguist-generated
resourcepack/assets/minecraft/models/item/black_dye.json linguist-generated
resourcepack/assets/minecraft/models/item/brown_dye.json linguist-generated
resourcepack/assets/minecraft/models/item/golden_sword.json linguist-generated
resourcepack/assets/minecraft/models/item/gray_dye.json linguist-generated
resourcepack/assets/minecraft/models/item/white_dye.json linguist-generated
resourcepack/assets/resourcepack.ajmeta linguist-generated

datapacks/mathf/** linguist-vendored
